<%- include('_layouts/header') -%>
<main>
    <section>
        <h1>Thank you for submitting the form <%= name %>!</h1>
        <h3>We will contact you on your phone: <%= phone %></h3>     
        <h3>Total cost: <%= cost; %></h3>
    </section>
</main>
<%- include('_layouts/footer') -%>